/* //////////////////////////////////////////////////// */

/* links.html, 1st part */

input:valid {
  background-color: gold;
}

/* //////////////////////////////////////////////////// */

/* links.html, 2nd part */

.over {
  border: dotted;
  width: 15rem;
  height: 10rem;
  overflow: scroll;
}

/* //////////////////////////////////////////////////// */

/* links.html, 3rd part */

img {
  width: 20rem;
  height: 15rem;
  border: olivedrab dashed;
  object-fit: fill;
}
