/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 1st part */

ul {
  list-style-type: disc;
  list-style-position: outside;
  /* list-style-image: url(/pics/load_icon.svg); */
}

ul ::first-letter {
  color: purple;
  font-weight: 700;
}

li {
  background-color: lightblue;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 2nd part */

form :active {
  color: rgb(76, 0, 255);
}

form button {
  background: orange;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 3rd part */

p:first-child {
  color: lime;
  background-color: black;
  padding: 5px;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 4th part */

.pseudo::first-line {
  color: blue;
}
