/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 1st part */

ul {
  list-style-type: disc;
  list-style-position: outside;
  /* list-style-image: url(/pics/load_icon.svg); */
}

ul ::first-letter {
  color: purple;
  font-weight: 700;
}

li {
  background-color: lightblue;
}

.nasa :last-child {
  background-color: cyan;
}
/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 2nd part */

form :active {
  color: rgb(76, 0, 255);
}

form button {
  background: orange;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 3rd part */

.fchild :first-child {
  color: lime;
  background-color: black;
  padding: 5px;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 4th part */

.pseudo::first-line {
  color: blue;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 5th part */

article :first-of-type {
  background-color: pink;
}
/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 6th part */

.choose_sib :nth-child(2) {
  background-color: magenta;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 6th part */

/* second from the end */
.choose_sib :nth-last-child(2) {
  background-color: lightsalmon;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 7th part */

.lot span:nth-last-of-type(2) {
  background-color: rgb(103, 186, 86);
}

/* Example demo for ":only-child" pseudo class */
.lot :only-of-type {
  color: red;
  font-weight: 700;
}
/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 8th part */

a:link {
  background-color: gold;
}

a:visited {
  background-color: maroon;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 9th part */

input:enabled {
  color: rgba(25, 77, 25, 1);
  background-color: rgba(191, 214, 106, 0.7);
}

input:disabled {
  color: #0f0303b9;
  background-color: rgba(243, 147, 235, 0.664);
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* lists.html, 10th part */

.targetable p:target {
  background-color: gold;
}

.targetable p:target::before {
  font: 70% sans-serif;
  content: "►";
  color: limegreen;
  margin-right: 0.25em;
}

.targetable p:target i {
  color: red;
}
