/* ////////////////////////////////////////////////////////////////////////////// */

/* pseudo.html, 1st part */

label {
  display: block;
  margin: 1px;
  padding: 1px;
}

.field {
  margin: 1px;
  padding: 1px;
}

input:invalid {
  background-color: #ffdddd;
}

form:invalid {
  border: 5px solid #ffdddd;
}

input:valid {
  background-color: #ddffdd;
}

form:valid {
  border: 5px solid #ddffdd;
}

input:required {
  border-color: #800000;
  border-width: 3px;
}

input:required:invalid {
  border-color: #c00000;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* pseudo.html, 2nd part */

.range:in-range {
  border: 4px solid green;
  background-color: lightgreen;
  width: 10rem;
}

.range:out-of-range {
  border: 5px solid darkred;
  width: 6rem;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* pseudo.html, 3rd part */

input[type="checkbox"] + label {
  color: #ccc;
  font-style: italic;
}

input[type="checkbox"]:checked + label {
  color: #f00;
  font-style: normal;
  font-weight: bolder;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* pseudo.html, 4th part */

.exciting-text::after {
  content: " <- EXCITING!";
  color: green;
}

.boring-text::before {
  content: " BORING -> ";
  color: red;
}

.highlight_me::selection {
  color: cyan;
  background-color: darkblue;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* pseudo.html, 5th part */

a {
  line-height: 2rem;
}

a:any-link {
  border: 3px solid red;
  color: orange;
}

/* Styles only the 2nd link

a:any-link:not([href$=".com"]) {
  border: 3px solid red;
  color: orange;
} */

/* ////////////////////////////////////////////////////////////////////////////// */

/* pseudo.html, 6th part */

.opt_vs_req input:optional {
  border-color: rebeccapurple;
  border-width: 5px;
}

.opt_vs_req input:required {
  border-color: palevioletred;
  border-width: 5px;
}
