/* //////////////////////////////////////////////////// */

/* selector.html, 1st part */

* [lang^="en"] {
  color: green;
}

*.warning {
  color: red;
}

*#maincontent {
  border: 1px solid blue;
  width: 14rem;
}

/* //////////////////////////////////////////////////// */

/* selector.html, 2nd part */

span {
  background-color: skyblue;
}

/* //////////////////////////////////////////////////// */

/* selector.html, 3rd part */

<a href="https://en.wikipedia.org/" target="_top">wikipedia.org</a>

a[target] {
  background-color: yellowgreen;
}
